:root {
  --color-background-light: rgb(71, 48, 142);
  --color-background-dark: rgb(31, 23, 73);
  --color-font: rgb(235, 248, 225);
  --color-input: rgb(109, 48, 247);
  --color-button: rgb(233, 20, 219);
  --color-button-hover: rgb(184, 53, 175);
}
