:root {
  --color-background-light: rgb(71, 48, 142);
  --color-background-dark: rgb(31, 23, 73);
  --color-font: rgb(224, 169, 187);
  --color-input: rgb(109, 48, 247);
  --color-button-light: rgb(224, 169, 187);
  --color-button-dark: rgb(196, 113, 242);
  --color-font-button-hover: rgb(250, 210, 234);
  --color-button-hover: rgb(86, 50, 106);
}
